/* var */
/* reset */
html,
body,
h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eeeff7;
  font: 14px/1.5 "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simhei, "黑体";
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 18px;
  margin-bottom: 15px;
}
p {
  margin-bottom: 10px;
}
li {
  list-style: none;
}
a {
  color: #1c1d21;
  text-decoration: none;
}
a:hover {
  color: #92cdcf;
  text-decoration: underline;
}
/* function */
.f-clearfix {
  zoom: 1;
}
.f-clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.f-tar {
  text-align: right;
}
/* color */
.c-1 {
  color: #1c1d21;
}
.c-2 {
  color: #31353d;
}
.c-3 {
  color: #445878;
}
.c-4 {
  color: #92cdcf;
}
.c-5 {
  color: #eeeff7;
}
/* grid */
.g-bd {
  padding: 30px 0;
  min-height: 800px;
}
.g-main {
  width: 670px;
  float: left;
}
.g-side {
  width: 310px;
  float: right;
}
.g-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* module */
.m-doc * {
  transition: .5s;
}
.m-hd {
  padding: 10px 0;
  background-color: #31353d;
  color: #eeeff7;
  font-size: 16px;
}
.m-hd h1 {
  float: left;
  line-height: 40px;
  padding-right: 50px;
}
.m-hd h1 a {
  color: #eeeff7;
}
.m-hd ul {
  float: left;
}
.m-hd ul li {
  float: left;
}
.m-hd ul a {
  display: block;
  line-height: 40px;
  padding: 0 20px;
  color: #eeeff7;
}
.m-hd ul a:hover {
  color: #92cdcf;
}
.m-ft {
  padding: 100px 0;
  background-color: #1c1d21;
  color: #eeeff7;
  text-align: center;
}
.m-articleList {
  margin-top: -20px;
}
.m-articleList .title {
  overflow: hidden;
}
.m-articleList .title h2 {
  float: left;
}
.m-articleList .title .date {
  float: right;
  color: #31353d;
  font-size: 14px;
}
.m-articleList li {
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 2px #1c1d21;
}
.m-articleList li:hover {
  box-shadow: 1px 1px 8px #1c1d21;
}
.m-articleList p {
  margin-bottom: 5px;
}
.m-articleList p:last-child {
  margin-bottom: 0;
}
.m-player {
  margin-top: -10px;
  margin-bottom: 5px;
}
.m-player .iframe {
  margin-left: -10px;
}
